/* Button.module.css */

.button {
  /* 기존 스타일 */
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-family: 'NanumSquare', sans-serif;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:disabled {
  background-color: var(--light-gray); /* 클릭 불가능 상태의 배경색 */
  color: var(--dark-gray); /* 텍스트 색상 (선택 사항) */
  cursor: not-allowed; /* 마우스 커서 변경 */
  opacity: 0.7; /* 시각적으로 비활성화된 느낌 */
}

/* 둥글기 (Border Radius) variants */
.borderRadius8 { border-radius: 8px; }
.borderRadius12 { border-radius: 12px; }
.borderRadius16 { border-radius: 16px; }
.borderRadius20 { border-radius: 20px; }
.borderRadius60 { border-radius: 60px; } /* 또는 큰 값으로 원형에 가깝게 */

/* 버튼 스타일 (Color/Background) variants - 예시 */
.primary {
  background-color: var(--primary-blue);
  color: var(--primary-white);
}
.primary:hover {
  background-color: var(--secondary-blue-700);
}

.secondaryBlue100 { /* 새로운 스타일 이름 */
  background-color: var(--secondary-blue-100);
  color: var(--primary-black); /* 또는 적절한 텍스트 색상 */
}
.secondaryBlue100:hover {
  background-color: var(--secondary-blue-200); /* 호버 색상도 정의 */
}

.secondaryBlue400 { /* 또 다른 새로운 스타일 이름 */
  background-color: var(--secondary-blue-400);
  color: var(--primary-white); /* 또는 적절한 텍스트 색상 */
}
.secondaryBlue400:hover {
  background-color: var(--primary-blue); /* 호버 색상도 정의 */
}

.secondaryWhite {
  background-color: var(--primary-white);
  color: var(--primary-black);
}
.secondaryWhite:hover {
  background-color: var(--light-gray);
}


.fontLight {
  font-family: 'NanumSquare', sans-serif;
  font-weight: 400;
}



.ghost {
  background-color: transparent;
  color: var(--primary-black);
  border: 1px solid var(--light-gray);
}
.ghost:hover {
  background-color: var(--secondary-blue-50);
}

/* 버튼 크기 variants */
.small {
  padding: 8px 16px;
  font-size: 14px;
}
.medium {
  padding: 10px 20px;
  font-size: 16px;
}
.large {
  padding: 12px 24px;
  font-size: 18px;
}