.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 250.5px);
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 182px;
  max-width: 340px;
  gap: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: var(--primary-blue);
  color: var(--primary-white);
}

.icon path {
  fill: var(--primary-white);
}
