@import './typography.css';

/* root */
:root {
  --primary-blue: #2285d5;
  --primary-alarm: #ff4415;
  --primary-white: #ffffff;
  --primary-black: #000000;
  --light-gray: #ababab;
  --dark-gray: #6d6d6d;


  --secondary-blue-50: #f1f7fe;
  --secondary-blue-100: #e3eefb;
  --secondary-blue-200: #89c1f0;
  --secondary-blue-400: #4aa1e6;
  --secondary-blue-600: #1469b5;
  --secondary-blue-700: #125492;
  --secondary-blue-800: #134779;
  --secondary-blue-900: #123456;
  --secondary-blue-950: #0e2743;

  --secondary-alarm-50: #fef2f2;
  --secondary-alarm-100: #fee2e2;
  --secondary-alarm-200: #fecaca;
  --secondary-alarm-300: #fca5a5;

  --secondary-warning-50: #fffbeb;
  --secondary-warning-100: #fef3c7;
  --secondary-warning-200: #fed7aa;
  --secondary-warning-300: #fdba74;
  --secondary-warning-400: #d97706;
}

/* common */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: 'NanumSquare', sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
