.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  background-color: var(--primary-blue);
}

/* 테블릿 */
@media (max-width: 1024px) {
  .page {
    padding: 40px;
  }
}

/* 모바일 */
@media (max-width: 600px) {
  .page {
    padding: 20px;
  }
}


.boldText {
  font-family: 'NanumSquare', sans-serif;
  font-weight: 700; /* Bold */
  color: var(--secondary-blue-50); 
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.regularText {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.lightText {
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--dark-gray);
  margin-bottom: 10px;
}

.extraBoldText {
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--primary-black);
  margin-bottom: 20px;
}

.button {
  background-color: var(--secondary-blue-600);
  color: var(--primary-white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'NanumSquare', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: var(--secondary-blue-700);
}
