.boardgameItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; /* 하얀 박스와 버튼 사이 간격 */
}

.boardgameLabel {
  flex: 1; /* 텍스트 박스가 남는 공간을 채움 */
  background-color: white;
  padding: 10px 16px;
  border-radius: 30px;
  font-size: 16px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin:5px;
}

.deleteButton {
  all: unset; /* 모든 기본 브라우저 스타일 제거 */
  background-color: #90caf9;
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* 버튼이 줄어들지 않도록 */
}