.form {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 243px);
  padding: 20px;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.link {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 243px);
  padding: 20px;
  font-size: 14px;
  color: #666;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}
